<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:label="Cleargram"
        tools:replace="android:label">
        <service
            android:name="org.telegram.messenger.GcmPushListenerService"
            tools:node="remove" />
        <provider
            android:name="com.google.firebase.provider.FirebaseInitProvider"
            android:authorities="${applicationId}.firebaseinitprovider"
            tools:node="remove" />
        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />
    </application>
</manifest>
